.name{
 font-family: Georgia, 'Times New Roman', Times, serif;
 font-size: 15pt;
 text-align: left;
}


.content {
    padding: 20px;
    overflow: hidden;
}

.content img {
    margin-right: 15px;
    float: left;
}

.content p{
    margin-left: 15px;
    display: block;
    margin: 2px 0 0 0;

}



html{
    background-color: lightblue;
}
   
   /* 
   

   Your professional history
   
   What you can do for a potential employer/what you have to offer
   
   Then a sidebar of important points they should know about you.
   
   Make 1 ugly CSS and 1 good CSS just like the design_hell comic.
   
   You should make a page good enough you’d actually use it as your homepage.
   
   If you do not want to disclose personal information then you have to make up 
   the missing information and you do not have to personally identify yourself. 
   If this is too hard then go on Wikipedia and find a famous figure you like and make a 
   webpage for them. I expect the quality of “fake” or biography webpages to be of equal 
   quality to an autobiographical webpage. */