.name{
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    font-size: 15pt;
    text-align: left;
    color: white;
}
.contactInfo{
    font-size: 10pt;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
    color: blue;
}
img {
    max-width: 100%;
    vertical-align:middle;
    float:left;
    max-width: 100%;
    max-height: 100%;
}

.contact{
    width: 100%;
    height: 400px;
    color: white;    
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.info{
    color: brown;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.history{
    color: green;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

.projects{
    color:gray;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}

html{
    background-color: black;
    font-family: "Comic Sans MS", "Comic Sans", cursive;

}


